src/gr/agroscape/behaviors/behaviors.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


	<xs:complexType name="BehaviorDataType">
	  	<xs:sequence>
			<xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="ClassString" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
	  </xs:complexType>

	<xs:element name="Behaviors">
		<xs:complexType>
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="Behavior" type="BehaviorDataType" minOccurs="0">
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>